<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chumji.hoyolab-checkin</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/ops/services/hoyolab-auto/run-checkin.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/ops</string>
    <key>NODE_ENV</key>
    <string>production</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>5</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>UserName</key>
  <string>ops</string>
  <key>GroupName</key>
  <string>staff</string>
  <key>WorkingDirectory</key>
  <string>/Users/ops/services/hoyolab-auto</string>
  <key>StandardOutPath</key>
  <string>/Users/ops/Library/Logs/hoyolab-auto/checkin.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ops/Library/Logs/hoyolab-auto/error.log</string>
</dict>
</plist>
